* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    gap: 1.563em;
    margin: 0 1.563em;
    min-height: 100vh;
    background: var(--very-dark-blue) url("images/bg-mobile.png") center / cover no-repeat;
}

sup {
    font-size: 1em;
    vertical-align: 0.05em;
}

sub {
    font-size: 1em;
    vertical-align: -0.05em;
}

:root {
    /* gradients */
    --gradient-1: hsl(6deg 100% 80%);
    --gradient-2: hsl(335deg 100% 65%);

    /* neutral */
    --pale-blue: hsl(243deg 100% 93%);
    --grayish-blue: hsl(229deg 7% 55%);
    --dark-blue: hsl(228deg 56% 26%);
    --very-dark-blue: hsl(229deg 57% 11%);
}

@font-face {
    font-family: RalewayRegular;
    src:
        url("fonts/Raleway-Regular.woff2") format("woff2"),
        url("fonts/Raleway-Regular.woff") format("woff"),
        url("fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: RalewayBold;
    src:
        url("fonts/Raleway-Bold.woff2") format("woff2"),
        url("fonts/Raleway-Bold.woff") format("woff"),
        url("fonts/Raleway-Bold.ttf") format("truetype");
}

.logo {
    width: 9.375em;
}

.container-icons {
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.icon {
    cursor: pointer;
    background-color: var(--very-dark-blue);
    padding: 0.625em;
    height: 3.125em;
    width: 3.125em;
    object-fit: scale-down;
    border-radius: 0.625em;
}

.icon:hover {
    transition: all 500ms;
}

.block-primary {
    display: flex;
    flex-flow: column;
    gap: 1.875em;
    border-radius: 1em 6.25em 1em 1em;
}

.block-range {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.562em;
    border-radius: 1em;
    color: var(--grayish-blue);
    font-family: RalewayRegular, sans-serif;
    font-size: 0.875em;
}

.text-use {
    color: var(--pale-blue);
    font-family: RalewayBold, sans-serif;
}

[class^="block"] {
    min-width: 20.625em;
    background-color: var(--dark-blue);
    padding: 2.5em;
    height: auto;
}

.container-left {
    position: absolute;
    width: 11.25em;
    height: 4.688em;
    background-color: var(--pale-blue);
    border-radius: 0.625em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625em;
    bottom: -1.875em;
}

.container-left > span:first-child {
    font-size: 2em;
    font-family: RalewayBold, sans-serif;
    color: var(--very-dark-blue);
}

.container-left > span:nth-child(2) {
    font-family: var(--font-400), sans-serif;
    color: var(--grayish-blue);
}

.container-range {
    position: relative;
    width: 100%;
    padding: 0.313em;
    font-family: RalewayRegular, sans-serif;
    background-color: var(--very-dark-blue);
    border-radius: 1em;
    margin-bottom: 3.125em;
    display: flex;
    align-items: center;
}

.container-range::before {
    content: "0 GB";
    position: absolute;
    left: -0.625em;
    top: 2.5em;
    color: var(--pale-blue);
}

.container-range::after {
    top: 2.5em;
    right: -1em;
    content: "1000 GB";
    position: absolute;
    color: var(--pale-blue);
}

.input-range {
    appearance: none;
    background: none;
    min-width: 100%;
}

.input-range::-webkit-slider-runnable-track {
    display: block;
    background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
    overflow: hidden;
    padding: 0.125em;
    border-radius: 1em;
}

.input-range::-webkit-slider-thumb {
    appearance: none;
    width: 1em;
    height: 1em;
    background-color: var(--pale-blue);
    cursor: pointer;
    border-radius: 50%;
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0 auto;
        min-height: 100vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: var(--very-dark-blue) url("images/bg-desktop.png") bottom / 100% 50% no-repeat;
        max-width: 1440px;
    }

    .container-left {
        bottom: auto;
        top: -3.5em;
        right: 1.563em;
    }

    .container-use {
        align-self: flex-start;
    }

    .block-range {
        width: 38em;
        align-self: flex-end;
    }

    .container-range {
        margin-bottom: 2.188em;
    }

    .container-left::after {
        content: "";
        position: absolute;
        background-color: var(--pale-blue);
        width: 2.188em;
        height: 2.188em;
        right: 0;
        bottom: -0.938em;
        clip-path: polygon(100% 100%, 0 0, 100% 0);
    }
}
