* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--very-dark-blue);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    gap: 25px;
    font-size: 0.875em;
    min-height: 90vh;
    background: var(--very-dark-blue) url("images/bg-mobile.png") center / cover no-repeat;
}

sup {
    font-size: 1em;
    vertical-align: 0.15em;
}

sub {
    font-size: 1em;
    vertical-align: -0.15em;
}

:root {
    /* gradients */
    --gradient-1: hsl(6deg 100% 80%);
    --gradient-2: hsl(335deg 100% 65%);

    /* neutral */
    --pale-blue: hsl(243deg 100% 93%);
    --grayish-blue: hsl(229deg 7% 55%);
    --dark-blue: hsl(228deg 56% 26%);
    --very-dark-blue: hsl(229deg 57% 11%);

    /* range */
    --width-range: 17.188em;
    --height-range: 20px;
    --radius-range: 30px;

    /* fonts */
    --font-400: raleway400;
    --font-700: raleway700;
}

@font-face {
    font-family: "Raleway400";
    src:
        url("fonts/Raleway-Regular.woff2") format("woff2")
        url("fonts/Raleway-Regular.woff") format("woff")
        url("fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway700";
    src:
        url("fonts/Raleway-Bold.woff2") format("woff2")
        url("fonts/Raleway-Bold.woff") format("woff")
        url("fonts/Raleway-Bold.ttf") format("truetype");
}

.logo {
    width: 150px;
}

.container-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    background-color: var(--very-dark-blue);
    padding: 10px;
    height: 50px;
    width: 50px;
    object-fit: scale-down;
    border-radius: 10px;
}

.block-primary {
    display: flex;
    flex-flow: column;
    gap: 50px;
    border-radius: 15px 100px 15px 15px;
}

.block-range {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 25px;
    border-radius: 15px;
    font-family: var(--font-400), sans-serif;
    color: var(--grayish-blue);
}

.text-use {
    font-weight: bold;
    color: var(--pale-blue);
    font-family: var(--font-400), sans-serif;
}

[class^="block"] {
    box-sizing: border-box;
    width: 350px;
    background-color: var(--dark-blue);
    padding: 30px;
    height: auto;
}

.container-range {
    position: relative;
    outline: 1px solid black;
    align-items: center;
    height: 75px;
    width: var(--width-range);
    border-radius: var(--radius-range);
    margin-bottom: 50px;
}

.span-left {
    position: absolute;
    left: -10px;
    bottom: 0;
    color: var(--pale-blue);
    font-family: var(--font-400), sans-serif;
}

.span-right {
    position: absolute;
    right: -15px;
    bottom: 0;
    color: var(--pale-blue);
    font-family: var(--font-400), sans-serif;
}

.container-left {
    position: absolute;
    width: 170px;
    height: 60px;
    background-color: var(--pale-blue);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: -30px;
}

.text-left {
    font-family: var(--font-400), sans-serif;
}

.container-left > p {
    font-size: 2.5em;
    font-family: var(--font-700), sans-serif;
    font-weight: 700;
    color: var(--very-dark-blue);
}

.input-range {
    appearance: none;
    background: none;
    width: 100%;
}

.input-range::-webkit-slider-runnable-track {
    overflow: hidden;
    background-color: var(--very-dark-blue);
    padding: 2px;
    border-radius: 7.5px;
}

.input-range::-webkit-slider-thumb {
    appearance: none;
    position: relative;
    width: calc(var(--height-range) - 10px);
    height: calc(var(--height-range) - 10px);
    background-color: var(--pale-blue);
    cursor: pointer;
    border-radius: 9px;
}

@media screen and (min-width: 1366px) {
    body {
        min-height: 100vh;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: var(--very-dark-blue) url("images/bg-desktop.png") bottom / 100% 50% no-repeat;
    }

    .container-left {
        bottom: auto;
        top: -30px;
        right: 25px;
    }

    .container-use {
        align-self: flex-start;
    }

    .block-range {
        width: 500px;
    }

    .container-range {
        width: 440px;
    }

    .container-left::after {
        content: "";
        position: absolute;
        background-color: var(--pale-blue);
        width: 35px;
        height: 35px;
        right: 0;
        bottom: -15px;
        clip-path: polygon(100% 100%, 0 0, 100% 0);
    }
}
